@import url('/Docsite/Docsite\ Comps\ CSS/Comp.css');

.header_main_brand-name {
    font-size: 1.1rem;
    font-weight: bold;
}
.header {
    background-color: var(--primary-color);
    color: var(--primary-bold);
}
.header_top-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1.5rem;
}
.header_top_location {
    display: inline-flex;
    align-items: center;
    gap: 1rem;
}
.header_top_actions-wrapper {
    display: inline-flex;
    flex-direction: row;
    gap: 1.5rem;
}

/* header main */
.header_main-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.5rem;
}
.header_main_nav-pills-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}
.header_main_nav-pill {
    padding: 0 1rem;
}
.header_main_nav-actions-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header_main_nav-action-icons-wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    padding-left: 1.5rem;
    border-left: 1px solid var(--black);
}
.header_main_nav-search-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
}
.header_main_nav-search-box {
    background-color: var(--primary-light);
    outline: none;
    border: none;
    padding: .4rem;
    width: 5rem;
    font-size: 1rem;
    color: black;
}

.header_promotional-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: .3rem 1.5rem;
    text-transform: uppercase;
    font-size: .8rem;
    background-color: var(--primary-color);
    color: var(--primary-bold);
    width: 100%;
}
.header_promotional_text {
    flex-grow: 1;
}
.header_promotional_icon-dismiss {
    display: inline-flex;
    justify-content: flex-end;
}

.header-collapsed {
    background-color: var(--primary-color);
    color: var(--primary-bold);
    border-bottom-right-radius: 1rem;
    gap: 2rem;
    width: fit-content;
    padding: 1rem;
    padding-right: 1.5rem;
}

.header-collapsed  {
    box-shadow: 2px 2px 6px 0 var(--medium-light);
}